*{
    margin: 0;
}

html {
    --navitem-height: 0;
    scrollbar-color: #64359c #121214;
    scroll-behavior: smooth;
}

body{
    font-family: Arial black, sans-serif;
    text-align: center;
}

.Banner {
    padding: 75px 20px;
    /* background-image: radial-gradient(circle, #121214 35%, transparent 75%);
    background-image: linear-gradient(to right, #121214, transparent, #121214);
    background-image: linear-gradient(to bottom, #121214, transparent, #121214); */
    background-image: 
        radial-gradient(circle, #121214 35%, transparent 75%),
        linear-gradient(to right, #121214, transparent, #121214),
        linear-gradient(to bottom, #121214, transparent, #121214);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, cover, cover;
    background-position: center center, center center, center center;
    color: #fff;
    animation: fadeIn 1.2s ease-in;
    position: relative;
    z-index: 1;
    overflow: hidden;
}


.tile-repeater {
    overflow: hidden;
    background: url("images/tile.png") top -1px center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 45rem;
    z-index: -1;
}

#MainLogo{
    max-width: 150px;
    margin-top: -5px;
    margin-bottom: 20px;
    pointer-events: none;
}

#MainTitle{

    margin-bottom: 20px;
    font-size: 2.5em;
}

.ContactBanner{
    background-color: #121214;
    animation: fadeIn 1.2s ease-in;
}

.ProjectBanner{
    background-color: #121214;
    animation: fadeIn 1.2s ease-in;
}

.ContactItem{
    background-color: #9841FF;
    padding: 30px;
    margin-top: 30px;
    position: relative;
    animation: fadeIn 1.2s ease-in;
    border-radius: 5px;
    max-width: 55%;
    overflow: hidden;
    display: inline-block;
    border-bottom: 20px solid #64359c;
    border-right: 20px solid #64359c;
    border-left: 10px solid #64359c ;
    transition: 
        border-bottom-width 0.25s ease,
        border-right-width 0.25s ease,
        border-left-width 0.25s ease;
        border-bottom: 50%;
    cursor: pointer;
}

#ContactItem2{
    margin-left: 50px;
}

.ContactItem:hover {
  border-bottom-width: 10px;
  border-right-width: 10px;
  margin-bottom: -10px;
}

.Project{
    padding: 125px;
    margin-top: 30px;
    margin-left: 30px;
    animation: fadeIn 1.2s ease-in;
    background-color: #9841FF;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    background-size: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(images/Fractal.jpg);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ProjectBanner{
    padding-bottom: 35px;
}

.Project:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.ProjectTitle{
    font-size: 1.5em;
}

.ProjectSubtext{
    font-size: 1em;
}

.Credits{
    background-color: #121214;
    animation: fadeIn 1.2s ease-in;
    color: #fff;
    padding-bottom: 15px;
}

@keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
    }

@media (max-width: 768px) {
    .Project{
        margin-left: 0px;
    }

    #ProjectFive{
    margin-bottom: 25px;
    }

    #TitleSubtext{
    margin-bottom: 0px;
    }

    .Credits{
        padding-bottom: 25px;
    }

    .ContactItem{
        margin-right: 0px;
    }

    #ContactItem2{
        margin-bottom: 10px;
        margin-left: 0px;
        padding: 35px;
    }
}